body {
  background-color: #e4e4e4;
}

.container {
  padding: 40px;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  margin-bottom: 30px;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.testimonial {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
}

.testimonial:hover {
  transform: translateY(-5px);
}

.testimonial p {
  font-style: italic;
  color: #333;
  margin-bottom: 15px;
  text-align: left; /* Alinha o texto à esquerda */
}


.testimonial h2 {
  color: #000000;
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: left; /* Alinha o nome à esquerda */
}

.testimonial img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
