.donation-wrapper {
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* alinha o conteúdo à esquerda */
  font-family: 'Arial', sans-serif;
  margin: 0; /* remove qualquer centralização automática */
  padding: 0; /* remove o espaço interno */
  width: 100vw; /* ocupa toda a largura da tela */
  box-sizing: border-box;

}

.donation-wrapper h2 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  margin-bottom: 30px;
  text-align: left;
  margin-left: calc(50% - 485px); /* Alinha com o 1º card */
}



.donation-box {
  background-color: #1e6f68;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 40px 35px;
  display: flex;
  align-items: stretch;
  width: 700px;
  color: #e4e4e4;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  min-height: 180px;
  margin-left: 0;
}


.qr-code-container {
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

.qr-code {
  width: 160px;
  height: 160px;
  border-radius: 0px;
  background-color: #ffffff;
  padding: 6px;
}

.donation-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  font-size: 25px;
}

.donation-info p {
  margin: 10px;
  color: #ffffff;
}

.donation-info p:first-child {
  color: #b2ff59;
  font-weight: bold;
  font-size: 25px;
}
