.donation-container {
  text-align: center;
  padding: 30px;
  background-color: #e4e4e4;
}

.donation-container h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
  margin-bottom: 30px;
}

.donation-container p {
  font-size: 1.2rem; 
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  max-width: 1000px;
  margin: 0 auto 0px;
  line-height: 1.6;
}

.donation-options {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.donation-card {
  background-color: #a5d65f;
  padding: 20px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.donation-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.donation-card p {
  font-size: 1rem;
  margin: 10px 0;
  color: #222;
  flex-grow: 1;
}

.donation-button {
  background-color: #2c665d;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.donation-button:hover {
  background-color: #1f4d46;
}

/* Responsivo para tablets e celulares */
@media (max-width: 768px) {
  .donation-options {
    flex-direction: column;
    align-items: center;
  }

  .donation-card {
    width: 90%;
    max-width: 320px;
  }
}
